.navbar{
  background:#39A900;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px;
}

.navbar a{
  color:white;
  text-decoration:none;
  margin-left:15px;
}

.busqueda{
  padding:8px;
  border:none;
  border-radius:5px;
}