# ================================
# SISTEMA GESTIÓN PROYECTOS - SENA
# ================================

# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=SistemaGestionProyectosSENA
DB_USER=root
DB_PASSWORD=tu_contrasena

# JWT
JWT_SECRET=tu_secreto_super_seguro_aqui
JWT_EXPIRES_IN=24h
